
.abil{
    height: 21px;
    background-image: url(../images/abil_02.png);
    font-size: 0.7em;
    font-family: "open_sansbold", sans-serif;
    color: #1e7465;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.abil:before{
    background-image: url('../images/abil_01.png');
    content: " ";
    height: 21px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
}
.abil:after{
    background-image: url('../images/abil_03.png');
    content: " ";
    height: 21px;
    width: 7px;
    display: inline-block;
    vertical-align: middle;
}

.fotoblock{
    float: left;
    width: 200px;
    padding-left: 41px;
    padding-top: 39px;
}
.fotoblock .photo{
    width: 153px;
    height: 153px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    border: 10px solid #f5f4f3;
    -webkit-box-shadow: 0px 0px 0px 1px #cfcecd;
            box-shadow: 0px 0px 0px 1px #cfcecd;


}
.fotoblock .photo img{
    width: 100%;
}

.abilities{
    float: right;
    width: 420px;
    padding-right: 20px;
    padding-top: 28px;
    font-family: "open_sansbold", sans-serif;
    font-size: 0.85em;
    color: #727070;
}
.abilities_text{
    font-family: "open_sansregular", sans-serif;
}
.abilities_ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.abilities_li{
    margin-top: 6px;
}

.keyAbility{
    margin-top: 16px;
}
.keyAbilityTitle{
    float: left;
    width: 140px;
}
.keyAbilityBlock{
    width: 250px;
    float: right;
}


.graduation{
    list-style: none;
    padding: 0px;
    margin: 7px 45px 0px 42px;
}
.graduation *{
    font-family: "open_sansregular", sans-serif;
    font-size: 0.96em;
    color: #727070;
}
.graduation_item{
    padding-top: 30px;
    padding-bottom: 30px;

    background-repeat: no-repeat;
    background-position: 0px center;
    vertical-align: middle;
    -webkit-box-shadow: 0px -1px 0px 0px #dbdbda;
            box-shadow: 0px -1px 0px 0px #dbdbda;
    border-top: 1px solid #edeceb;
}
.graduation_item:first-child{
    border: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.graduation_block{
    width: 500px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 39px;
}

.graduation_period{
    font-size: 0.94em;
}