
.abil{
    height: 21px;
    background-image: url(../images/abil_02.png);
    font-size: 0.7em;
    font-family: "open_sansbold", sans-serif;
    color: #1e7465;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.abil:before{
    background-image: url('../images/abil_01.png');
    content: " ";
    height: 21px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
}
.abil:after{
    background-image: url('../images/abil_03.png');
    content: " ";
    height: 21px;
    width: 7px;
    display: inline-block;
    vertical-align: middle;
}

.fotoblock{
    float: left;
    width: 200px;
    padding-left: 41px;
    padding-top: 39px;
    box-sizing: border-box;
}
.fotoblock .photo{
    width: 131px;
    height: 133px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #f5f4f3;
    box-shadow: 0px 0px 0px 1px #cfcecd;


}
.fotoblock .photo img{
    width: 100%;
}

.abilities{
    float: right;
    width: 402px;
    padding-right: 20px;
    padding-top: 24px;
    font-family: "open_sansbold", sans-serif;
    font-size: 0.85em;
    color: #727070;
    line-height: 0.9em;
}
.abilities span{
    font-family: "open_sansregular", sans-serif;
}
.abilities ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.abilities ul li{
    margin-top: 13px;
}

.abilities ul li.keyAbility{
    margin-top: 24px;
}
.abilities .keyAbilityBlock{
    float: right;
    width: 257px;
}




ul.circle{
    list-style: none;
    padding: 0px;
    margin: 17px 45px 0px 42px;
}
ul.circle *{
    font-family: "open_sansregular", sans-serif;
    font-size: 0.96em;
    color: #727070;
}
ul.circle li{
    font-family: "open_sansregular", sans-serif;
    padding-left: 94px;

    padding-top: 30px;
    padding-bottom: 30px;

    background-repeat: no-repeat;
    background-position: 0px center;
    vertical-align: middle;
    box-shadow: 0px 1px 0px 0px #edeceb;
    border-bottom: 1px solid #dbdbda;
}
ul.circle li.briefcase{
    background-image: url(../images/briefcase.png);
}
ul.circle li.file{
    background-image: url(../images/file.png);
}
ul.circle li.graduate{
    background-image: url(../images/graduate.png);
}
ul.circle li.school{
    background-image: url(../images/school.png);
}

ul.circle li .period{
    font-size: 0.94em;
}