body {
    font-family: "open_sansregular", sans-serif;
    font-size: 100%;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin: 0px;
}

* { box-sizing: border-box; }

html,body
{
    height: 100%; /* задаем высоту тела документа */
}
.main{ /* основной блок, который должен растянуться до подвала */
    min-height: 100%; /* задаем минимальную высоту основного блока */
}
* html .main { /* хак для ie6 */
    height: 100%; /* для ие6, т.к. не понимает min-height */
}
.hFooter { /* это распорка в основном блоке - резервируем место для подвала */
    height: 60px; /* высота нашего подвала */
}
.footer { /* подвал */
    background-color: #f8f8f8;
    height: 60px; /* высота подвала */
    margin-top: -60px; /* делаем отрицательный отступ по высоте равный высоте подвала, чтобы четко вписаться в размер экрана */
    text-align: center;
    vertical-align: middle;
    font-size: 0.75em;
    color: #727070;
}
.footer .wrap{
    width: 960px;
    margin: 0 auto;
    padding-top: 25px;
}
.footer .login{
    padding-left: 170px;
    position: absolute;
}

.login-href{
    font-family: "open_sansbold", sans-serif;
    font-size: 1.2em;
    color: #727070;
    text-decoration: none;
}

.ikonka{
    height: 21px;
}

.login-href:hover .ikonka{
    background-position: -5px -534px;
}

.footer .login:after{
    content: '';
    float: left;
    /*background-image: url(../images/locked.png);*/
    background-position: 0px 0px;
    width: 23px;
    height: 21px; /*42px;*/
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.hide-h1{ display:none; }

.header {
    min-width: 1000px;
    height: 90px;
    background-image: url(../images/header_bg.png);
    border-bottom: 7px solid white;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.header .wrap{
    padding-left: 20px;
    padding-right: 18px;
    max-width: 1240px;
    margin: 0 auto;
}


.logo{
    padding-top: 2px;
    padding-left: 10px;
    float:left;
}

h1.logo{
    margin: 0px;
}

.social{
    padding-top: 2px;
    float:right;
}

.social ul{
    list-style: none;
}
.social a{
    background: url(../images/social.png) 0 0 no-repeat;
    display: inline-block;
    margin-right: 9px;
    width: 38px;
    height: 40px;
    text-indent: -50000px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.social a:last-child{
    margin-right: 0px;
}

.social a.fb{ background-position: 0 0; }
.social a:hover.fb{ background-position: 0 -40px; }

.social a.vk{ background-position: -38px 0; }
.social a:hover.vk{ background-position: -38px -40px; }

.social a.tw{ background-position: -76px 0; }
.social a:hover.tw{ background-position: -76px -40px; }

.social a.gh{ background-position: -114px 0; }
.social a:hover.gh{ background-position: -114px -40px; }

.wrapper{
    width: 1000px;
    padding: 35px 20px 0;
    margin: 0 auto;
}

.nav{
    /*display: none;*/
    width: 250px;
    background-color: rgba(255,0,0,0.06);
    margin-bottom: 35px;
}
.nav-items{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.nav-href{
    font-family: "open_sansbold", sans-serif;
    text-decoration: none;
    font-size: 1.21em;
    color: rgb(114, 112, 112);
    line-height: 1.1;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    display: block;
    height: 56px;
    padding-top: 17px;
    padding-left: 28px;
}

.nav-item{
    background-color: #f2f0f0;
    background-image: -webkit-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
    height: 56px;
}
.nav-active{
    background-color: #5fd0b4;
    background-image: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}

.nav-href:hover{
    background-color: #d7d5d5;
    background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
    box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.nav-item:first-child,
.nav-item:first-child .nav-href{
    border-radius: 5px 5px 0px 0px;
}
.nav-item:last-child,
.nav-item:last-child .nav-href{
    border-radius: 0px 0px 5px 5px;
}

.wrapper .aside{
    width: 250px;
    float: left;
}

.wrapper .section{
    width: 650px;
    float: right;
}


.contact-header{
    background-color: #eac070;
    background-image: -webkit-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
    background-image: -ms-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
    height: 44px;
    padding: 12px 0px 0px 26px;
    border-radius: 5px 5px 0px 0px;
}

.contact-title{
    font-family: "open_sansbold", sans-serif;
    font-size: 1.21em;
    color: rgb(208, 152, 44);
    line-height: 1.2;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    width: 95px;
    height: 17px;
}

.contact-list{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.contact-href{
    text-decoration: none;
    background-color: #f5f4f4;
    width: 250px;
    margin-bottom: -5px;
    display: inline-block;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 213, 211);
    height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}

a:hover.contact-href {
    background-color: #f1e4cd;
    background-image: -webkit-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}

.ikon-shift-email{ margin-left: 18px; }
.ikon-shift2-email{ margin-left: 11px; }
.ikon-shift-telephone{ margin-left: 18px; }
.ikon-shift2-telephone{ margin-left: 11px; }
.ikon-shift-skype{ margin-left: 18px; }
.ikon-shift2-skype{ margin-left: 8px; }

li.contact-item:last-child > .contact-href {
    border-radius: 0px 0px 5px 5px;
}

.contact-text{
    padding-top: 8px;
    padding-left: 35px;
    height: 36px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
a:hover.contact-href .contact-text{
    padding-left: 5px;
    font-family: "open_sansbold", sans-serif;
}

.contacts ul li a,
.contacts ul li{
    font-family: "open_sansregular", sans-serif;
    font-size: 0.875em;
    color: #727070;
}
.contacts ul li a{
    font-size: 1em;
}

.contacts ul li.contact-phone:before{
    content: "";
    display: block;
    width: 16px;
    height: 21px;
    background-position: 0 -147px;
    background-image: url(../images/ikonki.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 19px;
    margin-top: 9px;
}

.contacts ul li.contact-skype:before{
    content: "";
    display: block;
    width: 19px;
    height: 19px;
    background-position: 0 -128px;
    background-image: url(../images/ikonki.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 19px;
    margin-top: 10px;
}



.block{
    margin-bottom: 36px;
}
.block-title{
    margin: 0px;
    background-image: -webkit-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    min-height: 54px;
    border: 1px solid #747474;
    border-radius: 5px 5px 0px 0px;
    padding: 9px 40px;
    font-family: "open_sansbold", sans-serif;
    font-size: 1.45em;
}
.block-title .text-header{
    color: rgb(238, 237, 236);
    line-height: 0.917;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
}

.block .telo{
    background-color: #f3f2f1;
    border: 1px solid #c6c6c6;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 31px;
}



