
.addnew{
    border: 1px solid #cecece;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
    width: 166px;
    height: 133px;
    display: block;
}

.mywork{
}

.work{
    width: 30%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #dddddd;
}

.item{
}