.popup-overlay{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    text-align: center;
    z-index: 1;
}

.popup-window{
    position: absolute;
    z-index: 5;
    display: none;
}

.close-popup-button{
    padding-top: 8px;
    padding-right: 17px;
    margin-bottom: -8px;
}

.close-popup-href{
    width: 14px;
    height: 14px;
    background-image: url(../images/x.png);
    background-repeat: no-repeat;
    display: block;
    float: right;
}